/* PROJECT */
.ContainerProject {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.Project {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 25px;
    border: 2px solid #000;
    border-radius: 50px;
    background-color: var(--quaternary-color);
    box-shadow: 10px 10px #000;
}


.Tecs {
    margin: 15px 0;
}

.Links {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.Links a {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 8px 15px;
    gap: 7px;
    font-weight: bold;
    border-radius: 9px;
    background-color: #000;
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

.Links a:hover {
    background-color: var(--primary-color);
}

@media only screen and (max-width: 500px) {

    /*  ---- GERAL */
    /* PROJECT */
    .Project {
        display: flex;
        flex-direction: column;
        width: 310px;
    }

    .Links {
        font-size: 15px;
    }

    .Links a {
        margin: 0 5px;
    }
}