/* GENERAL */
.ContainerContact {
    position: relative;
    overflow: hidden;
    height: 800px;
}

.Background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 720px;
    z-index: -1;
    background-image: url('../../../Assets/Contact/BackGalaxy.png');
    background-attachment: fixed;
}

/* TÍTULO */
.ContainerTitle {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 100px;
    border-top: 1px solid #5e5e5e;
    background-color: var(--tertiary-color);
}

.ContainerTitle h2 {
    font-size: 60px;
    font-family: 'Bakbak One', cursive;
    color: var(--secondary-color);
}

.ContainerTitle img {
    width: 60px;
    height: 60px;
    animation: imganimation .7s ease-in 0s infinite alternate forwards;
}

@keyframes imganimation {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(8px);
    }
}

/* CONTAINER FORM */
.ContainerForm {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

/* CONTAINER CONTENT */
.ContainerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 30px;
    backdrop-filter: blur(3px);
    background-color: rgba(46, 46, 46, 0.295);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.TitleForm {
    color: #000;
    font-family: 'Audiowide', cursive;
    font-size: 33px;
    text-shadow: 0 0 2px #ffff00;
    font-weight: bold;
    margin-bottom: 15px;
}

.TitleForm span {
    background-color: #53ceff;
    color: var(--secondary-color);
}

.EstrelaDaMorte {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 140px;
    width: 10px;
    animation: identifier 80s ease-in infinite;
}

@keyframes identifier {
    0% {
        top: 200px;
        left: 140px;
        width: 10px;
    }

    100% {
        top: 100px;
        left: 940px;
        width: 1900px;
    }
}

@media only screen and (max-width: 500px) {

    /*  GENERAL */
    /* GENERAL */
    .ContainerContact {
        height: 762px;
    }

    /* TÍTULO */
    .ContainerTitle {
        padding: 30px 20px;
    }

    .ContainerTitle h2 {
        font-size: 40px;
    }

    .ContainerTitle {
        gap: 20px;
    }

    .ContainerTitle img {
        width: 45px;
        height: 45px;
    }
}