/* --------FOOTER */
.FooterContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    gap: 5px;
    padding: 15px 50px;
    font-size: 15px;
    font-family: var(--secondary-font);
    background-color: #000;
    color: var(--secondary-color);
}

.ContainerIcons {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.ContainerIcons a {
    text-decoration: none;
    color: var(--secondary-color);

}

.ContainerIcons a:hover {
    color: var(--primary-color);
}



@media only screen and (max-width: 500px) {

    /*  ---- GERAL */
    .FooterContainer {
        font-size: 9px;
        padding: 5px 5px;
    }

    .ContainerIcons {
        gap: 15px;
    }
}