/* --------FOOTER */
.FooterContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    top: 50px;
    padding: 15px 50px;
    font-size: 14px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.LinksFooter {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.LinksFooter a {
    text-decoration: none;
    color: var(--secondary-color);

}

.LinksFooter a:hover {
    color: var(--primary-color);
}



@media only screen and (max-width: 500px) {

    /*  ---- GERAL */
    .FooterContainer {
        font-size: 9px;
        padding: 5px 5px;
    }

    .LinksFooter {
        gap: 15px;
    }
}