/* GENERAL */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerForm {
    display: flex;
    flex-direction: column;
}

/* CONTAINER IMPUTS */
.NameForm {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.EmailForm {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-family: var(--primary-font);
    font-weight: bold;
}

.Icon {
    position: absolute;
    bottom: 15px;
    left: 13px;
    color: #fff;
}

/* IMPUTS */
.TextImput,
.EmailImput {
    width: 270px;
    padding: 4px 0px 4px 45px;
    font-size: 15px;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    font-family: var(--primary-font);
}

textarea {
    margin-top: 15px;
    width: 250px;
    height: 175px;
    padding: 9px;
    border-radius: 6px;
    border: 2px solid #ffffff62;
    color: #fff;
    outline: none;
    background: none;
    font-family: var(--primary-font);
}

/* Sabre */
.Sabre {
    width: 40px;
}

.Laser {
    position: absolute;
    top: 29px;
    left: 38px;
    width: 0;
    height: 4px;
    border-radius: 6px;
    z-index: -1;
}

.TextImput:focus+.Laser {
    background-color: #a7d0ff;
    box-shadow: 0 0 7px #0077ff;
    animation: sabreAnim 1.3s linear forwards;
}

.EmailImput:focus+.Laser {
    background-color: #fd9191;
    box-shadow: 0 0 7px #ff0000;
    animation: sabreAnim 1.3s linear forwards;
}

@keyframes sabreAnim {
    0% {
        width: 0;
    }

    100% {
        width: 210px;
    }
}

/* BUTTON */
.BtnContainer video {
    position: fixed;
    border-radius: 14px;
    left: 109px;
    top: 393px;
    width: 117px;
    z-index: -1;
}

.Btn {
    margin-top: 17px;
    padding: 23px 35px;
    font-size: 17px;
    font-weight: bold;
    font-family: var(--primary-font);
    border: none;
    border-radius: 12px;
    color: var(--secondary-color);
    background-color: #000000;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.Btn:hover {
    background: none;
}

@media only screen and (max-width: 500px) {

    /* FORM CONTACT */
    .ContainerForm {
        display: flex;
        flex-direction: column;
    }

    /* IMPUTS */
    .TextImput,
    .EmailImput,
    textarea {
        margin: 5px;
    }

    .TextImput,
    .EmailImput {
        width: 260px;
    }

    /* Sabre */
    .Laser {
        top: 39px;
    }

    /* BUTTON */
    .BtnContainer video {
        display: none;
    }

    .Btn {
        padding: 15px 25px;
    }

    .Btn:hover {
        background-color: #000;
    }
}