/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3898EC;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --quaternary-color: #f0efee;


    --primary-font: 'Roboto', sans-serif;
    --secondary-font: Calibri, sans-serif;
}

body {
    background-color: var(--quaternary-color);
    overflow-x: hidden;
}



/* SESSÕES */
#home {
    height: 99vh;
}

#sobre {
    padding: 25px 0;
}

#contato {
    margin: 85px 0 0 0;
}

/* SCROLL */
::-webkit-scrollbar {
    background-color: #0a0e0e;
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d82d6;
}