/* GERAL */
#sobre {
    padding: 90px 0;
}

.container-about {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    padding: 50px 0 40px 0;
}

.container-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* IMAGE */
.image-about img {
    width: 570px;
    /* height: 410px; */
    border-radius: 43px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.7);
}

/* TEXT AREA */
.text-about {
    position: relative;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 25px 25px 83px 25px;
    background-color: var(--quaternary-color);
    box-shadow: 10px 10px #000;
    transition: .3s;
}

.text-about:hover {
    box-shadow: 10px 10px #0091f1;
}

/* Title */
.text-about h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 30px;
    text-shadow: 1px 1px 1.5px #000;
}

/* Text */
.text-about p {
    width: 420px;
    margin-bottom: 7px;
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
}

/* Tecs */
.tecs-about {
    position: absolute;
    border: 2px solid #000;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--quaternary-color);
    right: -2px;
    margin-top: 15px;
    width: 474px;
    height: 70px;
    text-align: center;
}

.tecs-about img {
    width: 50px;
    margin: 10px 15px 0 0;
}

/* BTN */
.btn-about {
    margin: auto;
    margin-top: 50px;
}

.btn-about a {
    padding: 20px;
    border: none;
    border-radius: 14px;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: #000;
    font-weight: bold;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
}

.btn-about a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}


/* ANIMATIONS VISIBILITY */
.hidden {
    visibility: hidden;
}

.showLeft {
    position: relative;
    visibility: visible;
    left: -30em;
    opacity: 0;
    animation: slide-in 1s forwards;
}


.showRight {
    position: relative;
    visibility: visible;
    left: 30em;
    opacity: 0;
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    100% {
        left: 0;
    }

    100% {
        opacity: 1;
    }
}


/* MOBILE */
@media only screen and (max-width: 500px) {

    /*  ---- GERAL */
    #sobre {
        padding: 0;
    }

    /* IMAGE */
    .image-about {
        display: none;
    }

    /* TEXT AREA */
    .text-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-about p {
        width: 270px;
    }

    /* Tecs */
    .tecs-about {
        bottom: 0;
        width: 324px;
        height: 60px;
    }

    .tecs-about img {
        width: 35px;
    }

    /* ANIMATIONS VISIBILITY */
    .showLeft {
        left: 0em;
        animation: slide-in 2s forwards;
    }

    .showRight {
        left: 0em;
        animation: slide-in 2s forwards;
    }
}



/* Televisão */
@media only screen and (min-width: 1600px) {

    /* ----- GERAL */

}