/* GERAL */
#home {
    height: 99vh;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 22vh;
}

.background-home {
    position: absolute;
    top: 10px;
    left: 1.5%;
    width: 97%;
    height: 96%;
    border-radius: 0px 0px 30px 50px;
    background-color: #e3f3d0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    z-index: -2;
}

/* TEXT AREA */
.container-text-home {
    position: relative;
}

.greetings {
    font-family: var(--primary-font);
    font-size: 45px;
    font-weight: bold;
}

.greetings span {
    color: var(--secondary-color);
    background-color: #9DDACB;
    padding: 2px;
}


.container-text-home h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 45px;
}

.text-introduction {
    width: 370px;
    margin: 3px 0 25px 0;
    font-family: var(--secondary-font);
    font-size: 18px;
}

/* Button */
.btn-container {
    width: 147px;
    transition: .2s;
    height: 10px;
}

.btn {
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 11px;
    color: var(--secondary-color);
    padding: 14px 19px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.btn-background {
    position: relative;
    background-color: #7B7B7B;
    border: 1px solid #000;
    border-radius: 11px;
    width: 143px;
    height: 49px;
    left: 6px;
    top: -46px;
    z-index: -1;
    transition: .2s;
}

.btn-container:hover .btn-background {
    background-color: #33eb2d;
}

/* Icons */
.social-home {
    display: flex;
    gap: 10px;
    margin-top: 90px;
}

.container-icon {
    width: 30px;
    position: relative;
}

.container-icon a {
    display: flex;
    position: absolute;
    color: var(--secondary-color);
    background-color: #9DDACB;
    border: 1px solid #000;
    border-radius: 50px;
    top: 19%;
    left: 25%;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
}

/* IMG AREA */
.container-img-home {
    position: relative;
}

.background-img-home {
    width: 440px;
}

.box_numem_home {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 250px;
}

.box_react_home {
    position: absolute;
    top: 73px;
    right: -40px;
    width: 180px;
}

.box_code_home {
    position: absolute;
    bottom: 25px;
    right: -20px;
    width: 360px;
}

.avatar_home {
    position: absolute;
    bottom: 0;
    right: -35px;
    width: 110px;
    transform: rotate(18deg);
}



@media only screen and (max-width: 500px) {

    /*  ---- GERAL */
    /* TEXT AREA */
    .container-text-home {
        text-align: center;
    }

    .greetings {
        font-size: 28px;
    }

    .container-text-home h1 {
        font-size: 40px;
        width: 330px;
    }

    .text-introduction {
        width: 320px;
        margin: 3px 0 25px 0;
        font-size: 17px;
    }

    .social-home {
        display: flex;
        justify-content: center;
    }

    /* IMAGE */
    .container-img-home {
        display: none;
    }

    /* Button */
    .btn-container {
        margin: auto;
    }
}



/* Televisão */
@media only screen and (min-width: 1600px) {

    /* ----- GERAL */

}