/* GERAL */
.container-projects {
    padding: 90px 0;
    background-color: #EBF4FF;
    border: 3px solid #000;
}

/* TITLE */
.title-projects {
    text-align: center;
}

.title-projects h2 {
    font-family: var(--primary-font);
    color: var(--tertiary-color);
    font-size: 40px;
}

.title-projects span {
    color: var(--secondary-color);
    background-color: #E85151;
    padding: 3px;
}

.title-projects p {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    margin: 8px 0 5rem 0;
}

/* PROJECT */
.project-container {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.project {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 25px;
    border: 2px solid #000;
    border-radius: 50px;
    background-color: var(--quaternary-color);
    box-shadow: 10px 10px #000;
}

/* Project image */
.image-project img {
    width: 550px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0);
    transition: .5s;
    border-radius: 40px;
    cursor: pointer;
}

.image-project img:hover {
    box-shadow: -1px -1px 5px rgb(0, 0, 0);
}


/* Project description */
.description-project {
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
}

.description-project h3 {
    text-align: center;
    font-size: 27px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-bottom: 7px;
}

.description-project p {
    text-align: start;
    width: 400px;
}

.description-project span {
    margin: 0 15px;
    font-weight: bold;
}

.tecs-projects {
    margin: 15px 0;
}

.links-projects {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.links-projects a {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 8px 15px;
    gap: 7px;
    font-weight: bold;
    border-radius: 9px;
    background-color: #000;
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

.links-projects a:hover {
    background-color: var(--primary-color);
}

.more-projects {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.more-projects a {
    background-color: #000;
    border-radius: 14px;
    padding: 20px;
    font-family: var(--primary-font);
    font-size: 18px;
    color: var(--secondary-color);
    transition: .3s;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.more-projects a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.back-btn-about {
    position: absolute;
    margin-left: 45px;
    background-color: #00000028;
    width: 190px;
    height: 100px;
    clip-path: polygon(0 50%, 78% 20%, 100% 100%, 20% 100%);
}


@media only screen and (max-width: 500px) {

    /*  ---- GERAL */
    /* PROJECT */
    .project {
        display: flex;
        flex-direction: column;
        width: 310px;
    }

    /* Project image */
    .image-project img {
        width: 280px;
        border-radius: 20px;
    }

    /* Project description */
    .description-project h3 {
        font-size: 20px;
    }

    .description-project p {
        text-align: center;
        width: 290px;
    }

    .description-project span {
        font-size: 13px;
        margin: auto;
        padding: 10px;
    }

    .links-projects {
        font-size: 15px;
    }
}

/* Televisão */
@media only screen and (min-width: 1600px) {

    /* ----- GERAL */

}